# Git-ignore patterns for ~/nco

# Autoconf/Automake
Makefile
Makefile.in
.deps
.libs
*.o
*.la
*.lo

autom4te.cache/
aclocal.m4
configure
autobld/*
m4/*

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake

# Odd files, litter
gmon.out
PET0.RegridWeightGen.Log
texput.log

# Editors

*.~?~
*~
TAGS

# NCO-generic
*.nc
*.hdf

# Directory-specific
/config.*
/libtool
/stamp-h*

nco.config.log.*.foo
nco.configure.*.foo
nco.libtool.*.foo
nco.make.*.foo

