# Git-ignore patterns for ~/nco

# Autoconf/Automake
Makefile.in
.deps
.libs
*.o
*.la
*.lo

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/Makefile

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake

# Odd files, litter
gmon.out
PET0.RegridWeightGen.Log
texput.log

# Editors

*.~?~
*~
TAGS

# NCO-generic
*.nc
*.hdf

# Directory-specific
/config.h
/config.guess
/config.log
/config.sub
/config.status
/libtool
/stamp-h*

nco.config.log.*.foo
nco.configure.*.foo
nco.libtool.*.foo
nco.make.*.foo

