Source: nco
Section: math
Priority: optional
Maintainer: Rorik Peterson <rorik@chabuku.iarc.uaf.edu>
Build-Depends: debhelper (>> 4.0.0), netcdfg3, netcdfg-dev, texinfo
Standards-Version: 3.6.1

Package: nco
Architecture: any
Depends: ${shlibs:Depends}
Description: netCDF Operators
 NCO is a suite of programs known as operators.  Each operator is
 a standalone, command line program that is executed at the UNIX
 shell-level.  The operators take one or more netCDF files as input,
 perform an operation (e.g., averaging or hyperslabbing), and produce
 a netCDF file as output.  The operators are primarily designed to aid
 manipulation and analysis of data.  This reflects their origin, but the
 operators are as general as netCDF itself.
